$header-color: #ffffff;
$main-color: #0e162b;
$hover-color: #0e162b47;
$border-color: #242e45;
$tag-color: #414cd3;
$btn-next-color: #363c7b;
$fav-color: #414cd3;
$company-color: #859ec9;
$background-page-color: #060d20;
