* {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: beige;
    height: 50px;
}

.header-list {
    display: flex;
    list-style: none;
}

li {
    margin: 10px;
    cursor: pointer;
}

li:hover {
    color: grey;
}

nav {
    display: flex;
    justify-content: center;
    padding: 5px;
}

input {
    width: 300px;
}

.no-active {
    display: none;
}

.job-container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
    border-radius: 7px;
    padding: 5px;
}

.job-img {
    width: 80px;
    cursor: pointer;
}

.job-info {
    display: flex;
    gap: 5px;
}

.job-tags {
    display: flex;
    gap: 5px;
}

.tag {
    display: flex;
    align-items: center;
    height: 30px;
    width: 100%;
    border: 1px solid black;
    border-radius: 7px;
    padding: 5px;
    cursor: pointer;
}

.tag:hover {
    background-color: rgb(241, 241, 241);
    color: grey;
}

.job-btn-container {
    align-self: end;
}

.btn {
    cursor: pointer;
}

.job-detail__header {
    display: flex;
    align-items: center;
}

.pagination-container {
    display: flex;
}
