.about {
    color: white;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 10rem 0 5rem 0;

    @include phone {
        width: 85vw;
    }

    &__title {
        @include phone {
            position: relative;
        }

        &--title {
            font-family: $titleFont;
            font-size: 5rem;
            align-self: flex-start;
        }

        &--content {
            display: flex;
            gap: 1rem;
            align-items: flex-start;
            align-self: flex-start;

            @include phone {
                margin-top: 2rem;
            }

            p {
                font-family: $normalFont;
                max-width: 80ch;
                font-size: 2rem;

                span {
                    color: $contrastColor;
                }

                @include phone {
                    text-align: start;
                }
            }
        }

        &--content::before {
            content: "";
            margin-top: 0.5rem;
            width: 5rem;
            height: 0.2rem;
            background-color: $contrastColor;

            @include phone {
                width: 30vw;
                align-self: center;
                position: absolute;
                top: 5rem;
            }
        }
    }

    &__skills {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 6rem;

        &--title {
            align-self: center;
            font-size: 4rem;
            font-family: $titleFont;
            color: white;
        }

        &--cards-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 2rem;

            .card {
                @include card(9rem, 9rem);

                @include phone {
                    @include card(3rem, 3rem);
                }

                .icon {
                    width: 70%;
                    height: 70%;

                    @include phone {
                        width: 100%;
                        height: 100%;
                    }
                }

                p {
                    font-family: $normalFont;
                    font-size: 1.8rem;

                    @include phone {
                        display: none;
                    }
                }
            }
        }
    }

    &__education {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 6rem;
        width: 70vw;

        @include phone {
            width: 85vw;
        }

        &--title {
            align-self: center;
            font-size: 4rem;
            font-family: $titleFont;
            color: white;
        }

        &--cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 2rem;
            align-items: center;
            justify-content: center;

            .card {
                display: flex;
                align-items: center;
                justify-content: start;
                width: 30%;
                height: 5rem;
                padding: 1rem 4rem;
                background-color: $backgroundColorLight;
                background: linear-gradient(0.25turn, #353535c9, #6565654f);
                box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
                    rgba(17, 17, 26, 0.05) 0px 8px 32px;
                border-radius: 0.8rem;
                cursor: pointer;

                @include phone {
                    width: 90%;
                    height: 8rem;
                    padding: 1rem 2rem;
                    gap: 2rem;
                }

                &:hover {
                    background-color: $contrastColorLight;
                }

                &__img {
                    width: 15%;

                    @include phone {
                        width: 22%;
                    }
                }

                &__info {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    padding: 1rem;

                    @include phone {
                        width: 60vw;
                    }

                    &--title {
                        font-family: $normalFont;
                        font-size: 1.4rem;
                        color: $contrastColor;

                        @include phone {
                            font-size: 1.6rem;
                        }
                    }

                    &--time {
                        font-family: $normalFont;
                        font-size: 1.3rem;
                        color: gray;

                        @include phone {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }
}
