.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 22rem;
    gap: 2rem;
    height: 80vh;
    width: 70vw;

    @include phone {
        width: 85vw;
    }

    &__title {
        font-family: $titleFont;
        font-size: 4rem;
        display: flex;
        align-items: center;
        gap: 3rem;
        color: white;

        @include phone {
            width: 95vw;
            font-size: 3rem;
            justify-content: center;
        }

        &::before {
            @include separation;
        }

        &::after {
            @include separation;
        }
    }

    &__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 80%;
        gap: 3rem;
        margin-top: 7rem;

        @include phone {
            width: 100%;
        }

        &--top {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3rem;

            @include phone {
                flex-direction: column;
            }
        }

        .card {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 2rem;
            padding: 1rem 3rem;
            width: 30rem;
            background-color: $backgroundColorLight;
            box-sizing: border-box;
            box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
                rgba(17, 17, 26, 0.05) 0px 8px 32px;

            @include phone {
                width: 85vw;
            }

            .icon {
                font-size: 1.8rem;
                color: white;

                @include phone {
                    font-size: 2.2rem;
                }
            }

            p {
                font-family: $normalFont;
                font-size: 2rem;
                color: $contrastColor;

                @include phone {
                    font-size: 2rem;
                }
            }
        }
    }

    &__links {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        margin-top: 8rem;

        @include phone {
            width: 100%;
        }

        .icon-social {
            font-size: 3.2rem;
            color: white;

            @include phone {
                font-size: 2.5rem;
            }
        }

        &::before {
            @include separation;
        }

        &::after {
            @include separation;
        }
    }
}
