.header {
    min-width: 100vw;
    height: 8rem;
    background-color: transparent;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    z-index: 10;

    &__logo {
        color: $contrastColor;
        font-family: $titleFont;
        font-size: 3rem;
        position: absolute;
        left: 4rem;
        cursor: pointer;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 4rem;
        font-size: 1.8rem;
        font-family: $normalFont;
        color: white;

        li {
            cursor: pointer;
            display: inline-block;
            text-align: center;
            width: 7rem;
            height: 3rem;
            border-bottom: solid 3px transparent;

            &:after {
                display: block;
                content: "";
                border-bottom: solid 3px $contrastColorLight;
                margin-top: 0.4rem;
                transform: scaleX(0);
                transition: transform 250ms ease-in-out;
            }

            &:hover::after {
                transform: scaleX(1);
                transform-origin: 0% 50%;
            }
        }
    }
}
