.hero {
    position: relative;
    height: 100vh;
    width: 100vw;

    &__title {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;
        font-family: $normalFont;
        left: 10rem;
        top: 10rem;

        @include phone {
            align-items: center;
        }

        &--name {
            color: white;
            font-size: 5rem;

            @include phone {
                font-size: 3.5rem;
            }

            &-span {
                color: $contrastColor;
            }
        }

        &--subname {
            color: white;
            font-size: 3rem;

            @include phone {
                font-size: 3rem;
            }

            &-mearn {
                color: $contrastColor;
            }
        }

        .btn-home {
            @include btnHome(10rem, 4rem);
            margin-top: 2rem;
            font-weight: 600;

            @include phone {
                @include btnHome(25rem, 5rem);
                font-size: 2rem;
            }
        }
    }

    &__social {
        position: absolute;
        right: 7rem;
        top: 25rem;

        @include phone {
            right: 0;
            top: 50%;
        }

        ul::before {
            content: "";
            width: 0.4rem;
            height: 8rem;
            background-color: $contrastColor;
        }

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            li a i {
                font-size: 2.6rem;
                color: white;
            }
        }
    }
}
