.scroll-container {
    display: flex;
    align-items: flex-start;
    gap: 2rem;

    .next {
        width: 100vw;
        height: 130vh;
        color: white;
        font-size: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 10rem;
        transform: translateX(100vw);
        transition: transform 2s ease;
    }
}
