.scroll-container {
    display: flex;
    align-items: flex-start;
    gap: 2rem;

    .next {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 10rem;
        transform: translateX(60vw);
        transition: transform 2s ease;
        height: 70vh;

        &__style {
            content: "";
            width: 0.2rem;
            height: 92%;
            position: absolute;
            background-color: $contrastColor;
            left: 30rem;
            z-index: 0;

            @include phone {
                left: 8rem;
            }
        }

        &__arrow {
            display: flex;
            align-items: center;
            align-self: flex-start;
            margin-top: 1rem;
            gap: 1rem;
            margin-left: 10rem;
            cursor: pointer;

            @include phone {
                margin-left: 1rem;
                margin-top: 5rem;
            }

            &--text {
                color: white;
                font-size: 1.4rem;
                font-family: $normalFont;
            }

            .arrow {
                font-size: 2.3rem;
                color: white;
            }
        }

        &__title {
            align-self: flex-start;
            color: white;
            font-family: $normalFont;
            font-size: 2rem;
            margin-left: 25rem;
            margin-top: 3rem;

            @include phone {
                margin-left: 1rem;
            }
        }

        &__description {
            position: relative;
            height: 40rem;

            @include phone {
                display: flex;
                flex-direction: column;
            }

            &--content {
                position: absolute;
                top: 5rem;
                left: -42rem;
                width: 40rem;
                padding: 2rem 10rem;
                z-index: 2;
                background: linear-gradient(0.25turn, #202020, #656565d3);
                box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
                    rgba(17, 17, 26, 0.05) 0px 8px 32px;

                @include phone {
                    position: relative;
                    width: 85vw;
                    left: -3rem;
                    padding: 2rem;
                }

                p {
                    color: white;
                    font-family: $normalFont;
                    font-size: 1.5rem;
                }
            }

            &--image {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                width: 44rem;
                height: 33rem;
                position: absolute;
                top: -4rem;
                left: 1rem;

                @include phone {
                    position: relative;
                    left: -6rem;
                    top: 8rem;
                }

                img {
                    height: 90%;

                    @include phone {
                        width: 85vw;
                    }
                }

                .buttons {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 2rem;

                    @include phone {
                        flex-direction: column;
                    }

                    .button-vercel {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        @include btnHome(25rem, 7rem);
                        font-size: 1.8rem;

                        @include phone {
                            @include btnHome(25rem, 7rem);
                        }
                    }

                    .button-git {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        @include btnHome(25rem, 7rem);
                        font-size: 1.8rem;

                        @include phone {
                            @include btnHome(75vw, 7rem);
                        }
                    }
                }
            }
        }

        &__title--stack {
            color: white;
            font-family: $normalFont;
            font-size: 2rem;
            align-self: flex-start;
            margin-left: 25rem;
            margin-top: -5rem;

            @include phone {
                margin-left: 0;
                margin-top: 20rem;
            }
        }

        &__stack {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            padding: 5rem;

            @include phone {
                padding: 2rem;
                margin-left: -10rem;
                flex-wrap: wrap;
                max-width: 81vw;
            }

            &--card {
                @include card(7rem, 7rem);

                .icon {
                    width: 70%;
                    height: 70%;

                    @include phone {
                        width: 100%;
                        height: 100%;
                    }
                }

                p {
                    font-family: $normalFont;
                    font-size: 1.8rem;

                    @include phone {
                        display: none;
                    }
                }
            }
        }

        &__title--code {
            color: white;
            font-family: $normalFont;
            font-size: 2rem;
            align-self: flex-start;
            margin-left: 25rem;

            @include phone {
                margin-left: 0;
                margin-top: 3rem;
            }
        }

        &__code {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5rem;
            padding: 3rem 10rem;
            width: 70vw;

            &--card {
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 3rem;
                position: relative;

                @include phone {
                    flex-direction: column-reverse;
                }

                .image-pop {
                    width: 80rem;
                    z-index: 1;

                    @include phone {
                        width: 90vw;
                        margin-left: -10rem;
                    }
                }

                .image-pop-phone {
                    width: 25rem;
                    z-index: 1;

                    @include phone {
                        width: 55vw;
                        margin-left: -10rem;
                    }
                }

                .text-container {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 40rem;
                    justify-content: start;
                    gap: 3rem;

                    @include phone {
                        width: 85vw;
                    }

                    &__content {
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;

                        padding: 1rem 5rem;
                        background: linear-gradient(
                            0.25turn,
                            #656565d3,
                            #202020
                        );
                        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
                            rgba(17, 17, 26, 0.05) 0px 8px 32px;

                        @include phone {
                            margin-left: -8rem;
                            width: 80%;
                        }

                        p {
                            color: white;
                            font-size: 1.5rem;
                            font-family: $normalFont;
                        }
                    }

                    &__functions {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        align-items: flex-start;
                        justify-content: start;

                        @include phone {
                            margin-left: -5rem;
                            width: 95vw;
                        }

                        &--detail {
                            display: flex;
                            flex-direction: column;
                            gap: 0.5rem;
                            padding: 0 4rem;
                            position: relative;

                            @include phone {
                                margin-top: 2rem;
                            }

                            &::after {
                                content: "";
                                width: 1rem;
                                height: 1rem;
                                background-color: $contrastColor;
                                position: absolute;
                                top: 0.2rem;
                                left: 1.8rem;
                                border-radius: 50%;
                                box-shadow: $contrastColor 0px 0px 10px;
                            }

                            .function-name {
                                font-size: 1.1rem;
                                font-family: $normalFont;
                                color: $contrastColor;

                                @include phone {
                                    font-size: 1.6rem;
                                }
                            }

                            .function-desc {
                                font-size: 1.1rem;
                                font-family: $normalFont;
                                color: white;

                                @include phone {
                                    font-size: 1.4rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
