.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 9rem;
    width: 70vw;
    gap: 2rem;
    height: 70vh;
    transform: translateX(70%);

    @include phone {
        width: 85vw;
        padding: 9rem 5rem;
    }

    &__title {
        font-family: $titleFont;
        font-size: 4rem;
        align-self: flex-start;
        color: white;
        margin-left: 4rem;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 2rem;

        &--card {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: transparent;
            border: 1px solid black;
            width: 90%;
            height: 10rem;
            padding-left: 5rem;
            background-color: $backgroundColorLight;
            background: linear-gradient(
                0.25turn,
                #0e0e0e,
                #65656526,
                #b5b5b500
            );
            clip-path: polygon(3% 0, 100% 0, 97% 100%, 0 100%);
            cursor: pointer;

            @include phone {
                padding-left: 2rem;
                clip-path: none;
                border-radius: 0.5rem;
            }

            .img-01 {
                @include imageBlur(
                    "https://res.cloudinary.com/oscar-perez/image/upload/v1654077750/RecipeAssets/FoodCategory/fob_finder_app_olkx9y.png",
                    0
                );
            }

            .img-02 {
                @include imageBlur(
                    "https://res.cloudinary.com/oscar-perez/image/upload/v1654077754/RecipeAssets/FoodCategory/sneakers_ecommerce_lla1yx.png",
                    -40%
                );

                @include phone {
                    @include imageBlur(
                        "https://res.cloudinary.com/oscar-perez/image/upload/v1654077754/RecipeAssets/FoodCategory/sneakers_ecommerce_lla1yx.png",
                        0
                    );
                }
            }

            .img-03 {
                @include imageBlur(
                    "https://res.cloudinary.com/oscar-perez/image/upload/v1656497041/RecipeAssets/FoodCategory/Captura_xa8jvz.png",
                    0
                );
            }

            .img-04 {
                @include imageBlur(
                    "https://res.cloudinary.com/oscar-perez/image/upload/v1656059866/RecipeAssets/FoodCategory/home_uqcx5u.png",
                    0
                );
            }

            p {
                font-family: $normalFont;
                font-size: 2rem;
                color: white;

                @include phone {
                    font-size: 1.8rem;
                }
            }

            &:hover {
                background: linear-gradient(
                    -0.1turn,
                    #141414,
                    #4848484f,
                    $contrastColorBlur
                );
            }
        }

        .btn-home {
            @include btnHome(25rem, 6rem);
            font-size: 2rem;
            margin-top: 3rem;

            @include phone {
                @include btnHome(25rem, 5rem);
            }
        }
    }
}
