@import "./settings/typography.scss";
@import "./settings/variables.scss";
@import "./settings/mixins.scss";
@import "./settings/settings.scss";

@import "./pages/hero.scss";
@import "./pages/header.scss";
@import "./pages/about.scss";
@import "./pages/projects.scss";
@import "./pages/contact.scss";
@import "./pages/footer.scss";
@import "./pages/next.scss";
