* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    @include backgroundImage;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

main {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show {
    opacity: 1;
    transform: none;
    visibility: visible;
    transition: opacity 2s ease-out, transform 1.2s ease-out;
}

.no-show {
    opacity: 0;
    transform: translateY(24vh);
    visibility: hidden;
    transition: opacity 3s ease-out, transform 3s ease-out;
    will-change: opacity, visibility;
}

.left {
    transform: translateX(-100vw);
}

.center {
    transform: translateX(-42vw) !important;
}

.popup-show {
    visibility: visible !important;
}

.display {
    height: auto !important;
}
