header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $header-color;

    height: 5rem;
    padding: 1rem;
    width: 100%;

    position: sticky;
    top: 0;
    z-index: 2;

    .title {
        display: flex;
        align-items: center;

        color: $main-color;
    }

    .header-list {
        display: flex;
        justify-content: end;
        gap: 2rem;

        list-style: none;

        position: relative;

        width: 40%;
        padding: 0;
        margin-right: 3rem;

        li {
            color: black;
            font-weight: 600;
            font-size: 2rem;

            cursor: pointer;
        }

        li:hover {
            color: grey;
        }

        span {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 2rem;
            height: 2rem;
            border-radius: 50%;

            background-color: $fav-color;
            color: white;
            font-size: 1.5rem;

            position: absolute;
            right: -1rem;
            top: -1.5rem;
        }
    }
}
