.company__page {
    margin: 1rem;

    .company__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 1rem;
        margin-top: 1rem;

        .company-tag {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            padding: 1rem;

            border-bottom-left-radius: 3rem;
            border-top-right-radius: 3rem;

            background-color: $main-color;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
                rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            cursor: pointer;

            .job-img {
                width: 8rem;
                border-radius: 50%;
                margin-bottom: 1rem;
            }

            .company-name {
                font-size: 1.3rem;
            }
        }
    }
}

.card {
    position: relative;

    &__side {
        perspective: 150rem;
        transition: all 0.8s;
        backface-visibility: hidden;
        border: 2px solid $border-color;

        &--front {
            background-color: red;
        }

        &--back {
            background-color: $main-color;
            transform: rotateY(180deg);
            border-bottom-right-radius: 3rem;
            border-top-left-radius: 3rem;
            border: 2px solid $border-color;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            cursor: pointer;
        }
    }

    &:hover &__side--front {
        transform: rotateY(180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }
}

.offers-btn {
    background-color: $fav-color;
    color: inherit;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: all 0.5s;

    h3 {
        font-size: 1.6rem;
    }

    &:hover {
        background-color: $header-color;
        color: $tag-color;
    }
}
