.company-detail {
    margin: 1rem;
    position: relative;

    .company-home {
        top: -3rem;
    }

    .company-company {
        left: 7rem;
    }

    .job-detail__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 1rem;
        padding: 1rem;
        margin-top: 4rem;

        text-align: center;

        .company-detail__header {
            display: flex;
            align-items: center;

            gap: 2rem;

            .company-logo {
                @include image_company(10rem, 10rem);
            }
        }

        .company-jobs__container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100vw;

            gap: 1rem;
            margin-top: 2rem;

            .job-tag {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                gap: 1rem;
                padding: 2rem;

                width: 80%;

                border: 2px solid $border-color;
                border-bottom-left-radius: 3rem;
                border-top-right-radius: 3rem;

                cursor: pointer;
                transition: all 0.5s ease;

                &:hover {
                    transform: scale(1.02);
                    background: $hover-color;
                }

                &__title {
                    font-size: 2rem;
                    font-weight: 400;
                }

                .company-tag__container {
                    display: flex;
                    gap: 1rem;
                }
            }
        }
    }
}
