.job-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 1rem;
    padding: 1rem;

    border-bottom-left-radius: 3rem;
    border-top-right-radius: 3rem;

    border: 2px solid $border-color;

    background: $main-color;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    color: white;
    position: relative;
    cursor: pointer;

    transition: all 0.5s ease;

    &:hover {
        transform: scale(1.02);
        background: $hover-color;
    }

    .job-info {
        display: flex;
        width: 90%;
        gap: 0.5rem;

        .job-img {
            @include image_company(7rem, 7rem);
        }

        .job-description {
            display: flex;
            flex-direction: column;
            width: 80%;
            gap: 10px;

            .job-title {
                font-size: 18px;
            }

            .company-title {
                font-size: 16px;
                color: $company-color;
            }
            .job-tags {
                display: flex;
                gap: 0.5rem;

                .tag {
                    @include tag;
                }
            }
        }
    }

    .job-btn-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        align-self: end;
        margin-right: 0.5rem;

        .favourites-btn {
            font-size: 2rem;
            color: #414cd3;
        }

        .fav-active {
            transform: scale(1.2);
            color: white;
            transition: 0.2s ease-in;
        }
    }
}
